body {
  font-family: 'Titillium Web', sans-serif;
  background: #EEE8AA; 
}

/**Loading screen styling*/
#loadScreen{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: 9;
}

#loadMe{
	font-size: 34px;
  text-align: center;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #162129;
}

.game {
  position: absolute;
  top: 45%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  display: block;
  animation: rotateGame 20s infinite;
}

.paddle{
  height:40px;
  width:6px;
  background-color:#626D75;
  position:relative;
}

.player_one{
  height:80px;
  width:6px;
  background-color:#626D75;
  position:relative;
  left:-280px;
  animation: movePaddleOne 3s infinite;
}

.player_two{
  height:80px;
  width:6px;
  background-color:#626D75;
  position:relative;
  left:80px;
  animation: movePaddleTwo 3s infinite;
}

.ball{
  position:relative;
  height:8px;
  width:8px;
  border-radius:50%;
  background-color:#626D75;
  animation: moveBall 3s infinite linear;
}

@keyframes rotateGame{
  0%, 100%{
    transform:rotate(0deg);
  }
  10%{
    transform:rotate(-128deg);
  }
  20%{
    transform:rotate(-15deg);
  }
  30%{
    transform:rotate(80deg);
  }40%{
    transform:rotate(-17deg);}
  50%{
    transform:rotate(75deg);}
  60%{
    transform:rotate(-11deg);
  }
  70%{
    transform:rotate(70deg);
  }
  80%{
    transform:rotate(7deg);
  }
  90%{
   transform:rotate(-108deg);}
}

@keyframes movePaddleOne{
  0%, 100%{
    transform:translate(0px, 100px);
  }
  25%{
    transform:translate(0px, 0px);
  }
  50%{
    transform:translate(0px, 0px);
  }
  75%{
    transform:translate(0px, 100px);
  }
}

@keyframes movePaddleTwo{
  0%, 100%{
     transform:translate(0px,-50px);
  }
  25%{
       transform:translate(0px,10px); 
  }
  50%{
        transform:translate(0px,0px);
  }
  75%{
        transform:translate(0px,50px);
  } 
}

@keyframes moveBall{
   0%, 100%{
    transform:translate(-278px, 0px);
  }
  25%{
      transform:translate(78px, -25px);
  }
 50%{
     transform:translate(-278px, -145px);
  }
  75%{
    transform:translate(78px, 15px);
  }
}
/**End loading screen styling*/

/**Navbar styling*/
.navbarMain{
    overflow: hidden;
}

.navbarMain a{
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    text-align: left;
}

.dropdown .dropbutton {
    cursor: pointer;
    font-size: 20px;    
    border: none;
    outline: none;
    color: #162129;
    padding: 14px 16px;
    background-color: inherit;
}

.navbarMain a:hover, .dropdown:hover .dropbutton {
    background-color: #162129;
    color: #fff;
}

.choiceList {
    margin: 0 auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.choiceList a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.choiceList a:hover {
    background-color: ##162129;
}

.show {
    display: block;
}
/**End navbar styling*/

/** for testing purposes with the loader

#picMenu{
  display: none;
}*/

/**Image links styling*/
#picMenu{
  display: none;
}

#picMenu div{
  margin-top: 1.5%;
}

.crop{
 height: 225px;
 width: 100%;
 margin: 0 auto;
 overflow: hidden;
 text-align: center;
 position: relative;
}
.crop img{
 height: auto;
 width: 100%;
}

.crop:hover{
  filter: sepia(50%);
  -webkit-filter: sepia(50%);
  
  filter: blur(5px) sepia(50);
  -webkit-filter: blur(5px) sepia(50);
  -moz-filter: blur(5px) sepia(50);
  -o-filter: blur(5px) sepia(50);
  -ms-filter: blur(5px) sepia(50);
}

.caption{
  text-shadow: 1px 1px 1px #000;
  font-size: 3em;
  position: absolute;
  margin: auto;
  top: 1%;
  left:0;
  right:0;
  bottom:0;
  color:#fff;
  height:100px;
}


/**End image links styling*/

/**Bio styling*/
#bio{
  width: 80%;
  margin: 0 auto;
}

.profile{
  float: left;
  padding: 0 20px 20px 0;
  width: 25%;
}


.profile2{
  float: right;
  padding: 0 0 20px 20px;
  width: 25%;
}
/**End bio styling*/

/***/
/***/
