body {
  background: #220a37; 
}

#loadMe{
  font-family: Arial;
	font-size: 34px;
  text-align: center;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: silver;
}

.content {
  position: absolute;
  top: 45%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  display: block;
  animation: rotateGame 20s infinite;
}

.paddle{
  height:40px;
  width:6px;
  background-color:white;
  position:relative;
}

.player_one{
  height:80px;
  width:6px;
  background-color:white;
  position:relative;
  left:-280px;
  animation: movePaddleOne 3s infinite;
}

.player_two{
  height:80px;
  width:6px;
  background-color:white;
  position:relative;
  left:80px;
  animation: movePaddleTwo 3s infinite;
}

.ball{
  position:relative;
  height:5px;
  width:5px;
  border-radius:50%;
  background-color:white;
  animation: moveBall 3s infinite linear;
}

@keyframes rotateGame{
  0%, 100%{
    transform:rotate(0deg);
  }
  10%{
    transform:rotate(-128deg);
  }
  20%{
    transform:rotate(-15deg);
  }
  30%{
    transform:rotate(80deg);
  }40%{
    transform:rotate(-17deg);}
  50%{
    transform:rotate(75deg);}
  60%{
    transform:rotate(-11deg);
  }
  70%{
    transform:rotate(70deg);
  }
  80%{
    transform:rotate(7deg);
  }
  90%{
   transform:rotate(-108deg);}
}

@keyframes movePaddleOne{
  0%, 100%{
    transform:translate(0px, 100px);
  }
  25%{
    transform:translate(0px, 0px);
  }
  50%{
    transform:translate(0px, 0px);
  }
  75%{
    transform:translate(0px, 100px);
  }
}

@keyframes movePaddleTwo{
  0%, 100%{
     transform:translate(0px,-50px);
  }
  25%{
       transform:translate(0px,10px); 
  }
  50%{
        transform:translate(0px,0px);
  }
  75%{
        transform:translate(0px,50px);
  } 
}

@keyframes moveBall{
   0%, 100%{
    transform:translate(-278px, 0px);
  }
  25%{
      transform:translate(78px, -25px);
  }
 50%{
     transform:translate(-278px, -145px);
  }
  75%{
    transform:translate(78px, 15px);
  }
}
